// General colors
$white: #fff;
$black: #000;


// Background colors
$bg-light-grey-1: #fffffff2;
$bg-light-grey-2: #ffffff26;
$bg-light-grey-3: #fcfaf68c;
$bg-dr-white: #fbf9f9;
$bg-milk-glass: #faf7f1;
$bg-teal-treat: #d8f0e3;
$bg-otto-ice: #c0e1cf;
$bg-comical-coral: #f3d0c7;
$bg-adorable: #e1c0b0;
$bg-strawberry-pop:#ef2853;
$bg-strawberry-pop-2: #ee2852;
$bg-shadow: #00000026;

// Text colors
$txt-peach-sachet: #f5d8ca;
$txt-dream-of-spring: #f8d12d;
$txt-misty-jade: #badac9;
$txt-quicksilver: #a6a6a6;
$txt-jinza-safflower: #f0817b;
$txt-connect-red: #eb6950;
$txt-mithril: #878787;
$txt-dove-grey: #6d6d6d;
$txt-wild-plum: #80465f;

// Fill colors
$fill-jinza-safflower: #f0817b;
$fill-strawberry-pop: #ee2852;

// Border colors
$border-mercury: #ebebeb;
$border-peach-sachet: #f5d8ca;
$border-otto-ice: #c0e1cf;
$border-adorable: #e1c0b0;

