@use './colors' as *;

//________________________________________________ VARIABILI
// Font
$mulish: 'Mulish Variable', sans-serif;
$playfair-display: 'Playfair Display Variable', sans-serif;

//________________________________________________ MIXIN
@mixin font($size: inherit, $weight: inherit, $family: $mulish, $color:  inherit, $letter-spacing: normal, $text-transform: none ){
    @if $size == 'xs'{
        font-size: 13px;
    }@else if $size == 's'{
        font-size: 15px;
    }@else if $size == 'm'{
        font-size: 16px;
    }@else if $size == 'l'{
        font-size: 20px;
    }@else if $size == 'xl'{
        font-size: 30px;
    }@else if $size == 'xxl'{
        font-size: 65px;
    }@else if $size == 'xxxl'{
        font-size: 80px;
    }@else {
        font-size: $size;
    }

    font-weight: $weight;
    font-family: $family;
    color: $color;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}

@mixin button($border-color, $bg-color){
    @include font(xs, 700, $color: $black, $letter-spacing: 3px, $text-transform: uppercase);
    font-size: 13px;
    padding: 17px 50px;
    border: 3px solid $border-color;
    background-color: $bg-color;
}

@mixin flex( $justify-content, $align-items, $direction: row){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin rounded($space, $color: transparent){
    width: $space;
    height: $space;
    border-radius: 50%;
    background-color: $color;
}

//_________________________ Sottolineatura testo
@mixin text_underscore($color, $height, $duration: .5s){
    display: inline;
    background-image: linear-gradient($color, $color);
    background-size: 0 $height;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size $duration linear;
    
    &:hover {
        background-size: 100% $height;
    }
}


//________________________________________________ CLASSI GENERICHE
body {
    @include font($color: $txt-dove-grey);
}

section{
    margin-bottom: 100px;
}

p {
    line-height: 25px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

//_________________________ Headings
h1{
    @include font(xxxl, 300, $color: $black);
}

h2{
    @include font(xxl, 300, $color: $black);
}

h3{
    @include font(xl, 400, $color: $black);
}

h4,h5,h6{
    @include font(l, 500, $color: $black);
}

h1 span,
h2 span{
    @include font($weight: 900, $family: $playfair-display)
}



