// Font
$mulish: 'Mulish Variable', sans-serif;
$playfair-display: 'Playfair Display Variable', sans-serif;

// Classi Generiche
.txt-playfair-display {
    font-family: $playfair-display;
    font-weight: 900;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 60px;
    text-align: center;
    padding: 120px 0 90px 0;
}

h1,
h2,
h3{
    font-weight: 300;
}


// row
.wrapper {
    display: flex;
    flex-wrap: wrap;
}

@mixin button($border-color, $bg-color){
    font-size: 13px;
    padding: 15px 40px;
    border: 3px solid $border-color;
    background-color: $bg-color;
}

@mixin flex($direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin rounded($space){
    width: $space;
    height: $space;
    border-radius: 50%;
}